* {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 19px;
  color: #4c4c51;
}

body {
    margin:0;
}

.wrap {
	width: 900px;
	margin: 0 auto;
}

.header {
	font: 12pt sans-serif;
	padding: 10px 0%;
    background: #bdcbe1;
    text-align: center;
}
/* #tabs {
    background: #ecedf6;
    float: right;
} */
.main {
    background: #bdcbe1;
    background-color: #ecedf6;
    overflow: hidden;
    padding-left: 5px;
    position: relative;
}
.footer {
    background: #bdcbe1;
    padding: 7px 0% 5px;
    position: relative;
    bottom: 0px;
    width: 100%;
}
aside {
    float: right;
    padding: 0px 5% 100% 11px;
    padding-left: 5px;
    background-color: #D3DEF0;   
}