.structural {
	position: absolute;
	left: -9999px;
}

* {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 19px;
  color: #4c4c51;
}

.wrap {
	width: 900px;
	margin: 0 auto;
}

.header {
	font: 12pt sans-serif;
	padding: 10px;
    overflow: hidden;
    background: #bdcbe1;
    width: 100%;
    text-align: center;
}
#tabs {
    background: #ecedf6;
    float: right;
}
.main {
    background: #bdcbe1;
    background-color: #ecedf6;
    overflow: hidden;
    padding: 0px 1%;
    position: fixed;
    height: 100%;
    width: 100%;
}
.footer {
    background: #bdcbe1;
    padding: 5px 1% 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
aside {
    float: right;
    padding: 0px 5% 100% 11px;
    background-color: #D3DEF0;
}